body{
    background-color: rgb(20, 2, 28);
    color: white;
    display: flex;
    flex-direction: column;
    
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


header, p, #explain, #result{
    text-align: center;
}

.box{
    margin: auto;
    width: 400px;
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
}
.box1{
    background-color: white;
    color: black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 25px rgba(11, 15, 132, 0.8);
    
}

#text-btn{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.box2{
    background-color: rgb(33, 171, 33);
    margin-bottom: 20px;
    font-size: 22px;
}
input{
    border: none;
    border-bottom:  3px solid rgb(20, 2, 28);
    
}
button{
    border: none;
    background-color: rgb(20, 2, 28);
    color: white;
    border-radius: 20px;
    font-size: 23px;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
}

#result{
    margin-top: 20px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px; /* Ajuste la taille de la police pour les petits écrans */
        padding: 10px; /* Ajoute un peu de padding */
    }

    .input {
        width: 100%; /* Fait en sorte que le champ de saisie prenne toute la largeur */
        margin-bottom: 15px; /* Ajoute de l'espacement sous le champ de saisie */
    }

    button {
        width: 100%; /* Bouton en pleine largeur */
        padding: 12px; /* Augmente le padding pour un meilleur confort */
    }
}
